doctype html
html
  head
    title Tushar-Portfolio_Site
    block scripts
    block style
  body
    nav#navbar
      div.frst
        |Tushar's Porttfolio
      div.links
        ul 
          li #[a(href="/") Home]
          li #[a(href="/about") About]
          li #[a(href="/experiences") Experiences]
          li #[a(href="/contacts") Contacts]
    block content
    //- footer(id="footer")
    //-   |footer
